form{
    max-width: 30%;
    margin: 30px auto;
    background: white;
    text-align: left;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.ItemsCenter{
      display: flex;
      justify-content: left;
      align-items: center;
      text-align: left;
      flex-direction: column;
      margin-bottom: 3%;
}
label{
    color: rgb(128, 127, 127);
    display: inline-block;
    margin: 25px 0 15px;
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold ;
}
input,select{
    display: block;
    padding: 10px 6px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ddd;
    color: #555;
    width: 100%;
     font-size: 1rem; 
     background: transparent;   
}
input:focus{
      outline: none;
}
input[type="checkbox"]{
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin:0 10px 0 0;
    position: relative;
    top: 2px;
    cursor: pointer;
    display: inline-block;
}
.btn-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.pill{
    display: inline-block;
    margin: 20px 10px 0 0;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    letter-spacing: 1px;
     background:#eee ;
    color:#777;
}
.submit{
    text-align: center;
}
.btnStyle{
    background: #0b6dff;
    border:0;
    padding: 10px 20px;
    color: white;
      border-radius: 20px;
      cursor: pointer;
      font-size: 16px;
}
.error{
    color:#ff0062;
    margin-top: 10px;
    font-size: 0.6rem;

}